*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body{
    min-height: 18500px;
    background-color: white; 
    font-family: 'rin';
    line-height: 15px;
}

#final{
    position: fixed;
    top: -10px;
    height: 100vh;
    width: 100%;
    z-index: 1;
}